<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/" style="color:white;background-color:blue;">AnaSayfa</a>
    <a href="/Home/Hakkimda" style="color:white;background-color:blue;">Hakkımda</a>
    @RenderBody()
    <!-- Renderbody Hakkimda.cshtml ve Index.cshtml içindeki kodları buraya yapıştırıyor-->
</body>

</html>